body {
  font-size: 15px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

/* WRAPPER */

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.top > *{
  border: white solid 1px;
}

/* TOP */
.top {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "hero hero cta1" "hero hero cta2";
}

.top .hero{
  grid-area: hero;
  min-height: 400px;
  background: url("./images/taco.jpg");
  background-size: cover;
  background-position: bottom right;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px;
}

.top .hero>*{
  background-color: yellow;
  padding: 5px;
}

.top .cta{
  background-color: yellow;
  display: grid;
  justify-content: center;
  align-content: center;
  align-items: center;
}
            
.top .cta p{
  margin: 0;
  text-align: center;
}

.top .cta .price{
  font-weight: 100;
  font-size: 60px;
}

.top .cta1{
  grid-area: cta1;
}

.top .cta2{
  grid-area: cta2;
}

/* NAV */

.menu ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
  padding: 0;
  margin: 0;
}

.menu ul li a{
  background-color: yellow;
  display: block;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}

[aria-controls="menu-list"]{
  display: none;
}

/* FEATURES */
.features{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.features .feature{
  padding: 20px;
  background-color: white;
  text-align: center;
}

.features .feature .icon{
  font-size: 60px;
}

.features .feature h3{
  text-transform: uppercase;
}

.features .feature p{
  color: gray;
}

/* ABOUT */

.about{
  background-color: white;
  display: grid;
  padding: 50px;
  grid-template-columns: 500px 1fr;
  align-items: center;
}

/* gallery */
.gallery{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery h2{
  grid-column: 1 / -1;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  grid-gap: 5px;
}

.gallery h2:before, .gallery h2:after {
  display: block;
  content: '';
  height: 10px;
  background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
}

.gallery h2:after {
  --direction: right;
}

@media (max-width: 1000px) {
  .menu{
    order: -1;
    perspective: 800px;
  }

  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }
  
  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="true"] ~ div{
    display: block;
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }
}

@media (max-width: 750px) {
  .top{
    grid-template-areas: "hero hero" "cta1 cta2";
  }

  .about{
    grid-template-columns: 1fr;
  }


  .gallery img{
    justify-self: center;
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas:
      "hero"
      "cta1"
      "cta2"
  }
}